.side_bar
  .side_header
    .header_top
      たろ
    .header_edit
    = link_to "#", class: "header__btn" do
      = icon('fa', 'edit')
    .header_setting
    = link_to "#", class: "header__btn" do
      = icon('fa', 'cog')


  .groupbox
    .group
      .groupbox__name1
        タロウ
      .groupbox__message1
        nice!
      .groupbox__name2
        TAROU
      .groupbox__message2
        good!!
      