.side_bar{
  width: 300px;
  color: white;
  float: left;
  


  .header{
   background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}
  .header__name{
    margin-right: 11.5rem;
  }

  
  .header__lists{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-left: 200px;
    display: flex;

    .icon{
      color: white;
    }
  }

  }
  
  .groupbox{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  }

  
 

  .groupbox__name1{
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
  }

  .groupbox__message1{
    font-size: 11px;
    margin-bottom: 40px;
    color: white;
  }

  .groupbox__name2{
    font-size: 15px;
    margin-bottom: 5px;
  }

  .groupbox__message2{
    font-size: 11px;
    margin-bottom: 40px;
  }

.main-chat{
    width: calc(100vw - 300px);
    float: left;
}
  .main_header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    
    

  .header_edit_btn{
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
    top: 10px;
    color: #38aef0;
    }

    .main_header_left{
      margin-top: 35px;
    }

     .header__group_name{
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
      }

      .header__member_names{
        font-size: 12px;
        color: #999999;
      }
   }

  .main_message{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;

  .contents_main1{
    padding-bottom: 40px;
    }

  .message__sender1{
    color: #434a54;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }

  .message__date1{
    color: #999999;
    font-size: 12px;
    margin-left: 40px;
  }

  .message__details1{
    color: #434a54;
    font-size: 14px;
    margin-bottom: 10px;
  }

.contents_main2{
  padding-bottom: 40px;

 }
}

.chat-main{
  .form{
    display: flex;
    padding: 20px 40px;
    background-color: #ddd;

  

   
    .form__mask{
      display: flex;
      margin: right;
      width:100%;
      position: relative;
    }

    .new_message{
      display: flex;
      width: 100%;
    }
  

  // .form_form{
  //   display: flex;

    .input_box {
      height: 50px;
      width: 80%;
      padding: 0 40px 0 10px;
      color: #434a54;
    }

    .form_for{
      display: flex;
    }

    .input_box_text{
      width: 100%;
      height: 50px;
    }

    .input-box__image{
     position: absolute;
     right: 0;
     top: 15px;
     font-size: 22px;
    }

    .text{
      display: none;
    }
  
  

  .form_form_btn{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    

  }
}
}  



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}